/**
* Template Name: Rapid - v2.2.0
* Template URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #091124;
  font-family:"Avenir Next LT W05 Regular";
}

button:focus {
  outline: none;
}
.light-blue-btn:hover{
  background: #fff;
  color: #0B5FA5;
  border: 1px solid #C9CDD1;
}
.light-blue-btn:hover a{
  color: #0B5FA5;
}
.white-btn:hover a{
  color: #ffffff;
}
.white-btn:hover{
  background: #0B5FA5;
  color: #fff;
  border: 1px solid #E5E8EA;
}
a:hover, a:active, a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}
a {
  cursor: pointer;
}
p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Avenir Next LT W05 Regular";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #1bb1dc;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #1bb1dc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  height: 40px;
  font-size: 16px;
  transition: all 0.5s;
}

#topbar.topbar-transparent {
  background: transparent;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .social-links a {
  color: #413e66;
  padding-left: 20px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #1bb1dc;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #091124;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 30px;
  top: 0px;
}

#header.header-scrolled {
  top: 0;
  background: #091124;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .logo {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo a {
  color: #413e66;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  padding-left: 30px;
}

.main-nav a {
  display: block;
  position: relative;
  color: #C9CDD1;
  padding: 10px 0;
  transition: 0.3s;
  font-size: 14px;
  font-family:"Avenir Next LT W05 Regular";
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: #1bb1dc;
  text-decoration: none;
  border-bottom: 2px solid #FF9300;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 800px;
  background: url(../studio-images/home-image1@2x.jpg);
  background-size: cover;
}

@media (max-width: 767px) {
  #hero {
    height: auto;
    padding: 100px 0 60px 0;
  }
  #hero .container {
    height: auto !important;
  }
  #hero .intro-img {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #hero .intro-info {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  #hero .intro-info {
    text-align: center;
    padding-top: 40px;
  }
}

#hero .intro-info h2 {
  margin-bottom: 10px;
  font-size: 56px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -1.79px;
  color: #ffffff;
  opacity: 1;
}
#hero .intro-info p{
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  letter-spacing: -0.58px;
  color: #ffffff;
  opacity: 1;
}

@media (max-width: 767px) {
  #hero .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

#hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
  font-family:"Avenir Next LT W05 Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 90px;
  border-radius: 30px;
  transition: 0.5s;
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff;
}

#hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
  background: #0a98c0;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999999999;
  overflow: hidden;
  background: #ffffff;
}
.signle-header-logo{
  max-width: 15%;
  height: auto;
  padding: 15px;
}
.section-header h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family:"Avenir Next LT W05 Regular";
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f5f8fd;
}

/* Successful Operation Modal Start */
.success-modal{
  text-align: center;
}
.success-top-icon{
  background-color: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #EEEEEE;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 13%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: -50px auto;
  text-align: center;
  width: 20%;
  padding: 25px;
  border-radius: 50px;
}
.success-head{
  font-size: 40px;
  font-weight: 500;
  color: #091124;
  padding: 40px 10px 10px 10px;
  margin: 10px;
}
.success-subhead{
  font-size: 20px;
  font-weight: 400;
  color: #091124;
  padding: 10px;
  margin: 10px 10px 30px 10px;
}
.btn-success-modal {
  font-family: "Avenir Next LT W05 Regular";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s;
    background: transparent;
    color: #091124;
    border: 1px solid #091124;
    text-decoration: none;
    width: 45%;
}
.btn-confirmation-yes{
  font-family: "Avenir Next LT W05 Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  transition: 0.5s;
  background: #0a98c0;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  width: 45%;
}
.btn-confirmation-cancel{
  font-family: "Avenir Next LT W05 Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  transition: 0.5s;
  background: #FF0000;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  width: 45%;
}
.btn-success-modal a{
  color: #091124;
}
.btn-confirmation-cancel a{
  color: #fff;
}
.btn-confirmation-yes a{
  color: #fff;
}
.btn-success-modal:hover {
  background: #0a98c0;
  border: #fff;
}
.btn-confirmation-yes:hover {
  background: #fff;
  border: 1px solid #0a98c0;
}
.btn-confirmation-cancel:hover {
  background: #fff;
  border: 1px solid #FF0000;
}
.btn-success-modal:hover a{
  color: #fff;
}
.btn-confirmation-yes:hover a{
  color: #091124;
}
.btn-confirmation-cancel:hover a{
  color: #091124;
}
/* Successful Operation Modal End */


/* Admin css start */
  /* release-request page css start */
  .admin-images{
    width: 80px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
  }
  .space-bottom{
    margin-bottom: 40px;
  }
  /*dashboard  css*/
    hr{
      margin-top: 2px;
      margin-bottom: 10px;
    }
    .fa.fa-eur{
      font-size: 14px;
      font-weight: 400;
      padding: 8px;
    }
    .txt_contain_heading{
      font-size: 13px;
      font-weight: 700;
    }
    .main_heading{
      font-weight: 700;
      padding: 5px 0px;
      margin: 25px 0px 0px 0px
    }
    .top_heading{
      font-size: 14px;
      font-weight: 500;
    }
    .request_page_txt_contain{
      font-size: 13px;
    }
    .request_page_col{
      margin-top: 10px;
    }
  /* end dashboard  css*/

  /* Sidebar css start */
    .sidebar{
      background-color:#00131a; 
      width: 100%;
      min-height:  100vh;
      height: auto;
    }
    .vertical-menu a {
      color: white;
      display: block;
      padding: 12px;
      text-decoration: none;
    }
    .vertical-menu a:hover {
      color:  #e67300;
    }
    .vertical-menu a.active {
      color:  #e67300;
    }
    .main{
      margin-top: 40px;
      margin-left: 50px;
    }
  /* Sidebar css end */

  /*user,release  page css*/
    .tb_heading th {
      font-size: 14px;
    }
    .tb_data td {
      font-size: 12px;
    }
    .custom-serch-box{
      background-color:  #ddccff; / Green /
      color: black;
      border-radius:30px;
      width: 350px !important;
      position: inherit;
    }
    .tb_input{
      width: 55px;
      font-size: 10px;
      background-color:  #ddccff;
    }
    /* End user, release page css*/
/* Admin css end */

/* about page css start
--------------------------------*/
#myInput {
  background-image: url(../studio-images/searchicon.png);
  background-position: 10px 8px;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding: 5px 20px 5px 40px;
  border: 1px solid #C9CDD1;
  outline: none;
}
.margin-about-us {
  margin: 50px 0px 0px 0px;
}
.about-us-head{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 10px 0px;
  margin: 0px 0 10px 0;
}
.search-icon {
  background: #ffffff;
  border-radius: 20px;
  opacity: 1;
}
.boxes-about {
  margin: 100px 130px;
}
.boxes-about h2{
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1.54px;
  color: #091124;
}
.boxes-about h6{
  font-size: 12px;
  letter-spacing: 1.92px;
  color: #091124;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.boxes-about h5{
  font-size: 20px;
  letter-spacing: -0.58px;
  color: #091124;
  opacity: 1;
}
.about-two-column-1{
  width: 100%;
  height: 600px;
  background: url(../studio-images/home-image2@2x.jpg) no-repeat;
  background-size: cover;
}
.about-two-column-2{
  width: 100%;
  height: 600px;
  background: url(../studio-images/home-image3@2x.jpg) no-repeat;
  background-size: cover;
}
.two-section-text h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -1.79px;
  color: #ffffff;
  padding: 150px 150px 10px 150px;
}
.two-section-text p{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    letter-spacing: -0.58px;
    color: #ffffff;
    padding: 0px 150px 0px 150px;
}
.two-section-text a {
  font-family:"Avenir Next LT W05 Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 90px;
  border-radius: 30px;
  transition: 0.5s;
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  margin: 0px 150px 20px 150px;
}

.bottom-bar li {
  list-style-type: none;
  color: #ffffff;
  display: inline-block;
  margin: 50px 30px 0px 0px;
}
.bottom-bar  p {
    color: #ffffff;
    display: inline-block;
    margin: 50px 30px 0px 0px;
}
.home-icon-1{
  width: 35px;
  height: auto;
}
.home-icon-2{
    width: 45px;
    height: auto;
}
.home-icon-3{
  width: 65px;
  height: auto;
  margin: 0px 0px 0px 20px;
}
/* about page css end */

/* Discover page css start
--------------------------------*/
.discover-top {
  margin: 150px 0px 0px 0px;
}
.discover-top h2 {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.77px;
  color: #091124;
}
.discover-top h5{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: #091124;
  line-height: 2.2;
}
.product-section {
  margin: 0px 0px 50px 0px;
}
.product-box{
  margin: 30px 0px 10px 0px;
}
.product-div-img{
  height: 255px;
  overflow: hidden;
}
.product-section .product-img{
  width: 100%;
  height: auto;
  border: 1px solid #E5E8EA;
  border-radius: 4px;
}
.product-section h4 {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  letter-spacing: -0.48px;
  color: #091124;
  margin: 15px 0 5px 0;
}
.product-section h5 {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.48px;
  color: #091124;
  margin: 5px 0 5px 0;
}
.product-section p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.26px;
  color: #FF9300;
  margin: 0px 0 5px 0;
  padding-top: 0px;
}
.discover-progress-bar progress { 
  background: #0B5FA5; 
} 
.discover-progress-bar progress::-webkit-progress-bar { 
    background-color: #eeeeee; 
} 

.discover-progress-bar progress::-webkit-progress-value { 
    background-color: #039603 !important; 
} 
/* Discover page css end */

/* Home page css start
--------------------------------*/
.profile-img-home{
  width: 25px;
  margin-top: 5px;
  margin-left: -5px;
  border-radius: 25px;
  border: 5px solid #FF9300;
}
.home-page-top h2{
  margin-top: 100px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  color: #091124;
  border-bottom: 4px solid #FF9300;
  padding-bottom: 10px;
}
.home-middle-section h3{
  text-align: left;
  font-size:32px;
  font-weight: bold;
  color: #091124;
  margin: 40px 0px 40px 0px;
}
.detail-boxes {
  background: #FAFAFA;
  border: 1px solid #E5E8EA;
  border-radius: 20px;
  margin: 10px 10px;
  padding: 25px 25px 10px 25px;
}
.detail-boxes .product-img {
  padding-bottom: 10px ;
}
.detail-boxes h4{
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.38px;
  color: #091124;
}
.detail-boxes p{ 
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.92px;
  color: #091124;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}
.detail-boxes .price-txt{ 
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.92px;
  color: #091124;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}
.detail-boxes2 {
  background: #FAFAFA;
  border: 1px solid #E5E8EA;
  border-radius: 20px;
  margin: 10px 10px 50px 10px;
  padding: 20px 20px 20px 20px;
}
.detail-boxes2 h5{
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
}
.detail-boxes2 p{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: #0B5FA5;
}
.table-txt li{
  list-style-type: none;
}
.table-txt .dark-txt{
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
}
.table-txt .light-txt{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: #091124;
}
.table-txt .extra-light-txt{
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.26px;
  color: #595D61;
}
.detail-boxes4 {
  background: #FAFAFA;
  border: 1px solid #E5E8EA;
  border-radius: 20px;
  margin: -30px 10px 205px 10px;
  padding: 20px 20px 0px 20px;
}
.detail-boxes4 h4{
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.38px;
  color: #091124;
  margin-bottom: 20px;
}
.myshare-margin{
  margin-bottom: 60px;
}
.notification-section-margin{
  margin: -185px 10px 410px 10px;
}
.detail-boxes4 h5{
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
  margin: 5px 0px;
}
.detail-boxes4 h6{
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: #091124;
}
.detail-boxes4 input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 11px 0px;
}


  /* .scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
   */
  .scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
  }
  
  .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #C9CDD1 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #C9CDD1 0%, #C9CDD1 100%);
  }
  
  .scroll-1 {
    position: relative;
    overflow-y: scroll;
    height: 380px; 
  }

  .scroll-2 {
    position: relative;
    overflow-y: scroll;
    height: 230px; 
  }

  .notification-txt{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0;
    margin: 0 0 5px 0;
  }
  .notification-price{
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0;
    margin: 0 0 5px 0;
    display: inline-block;
  }
  .notification-icon{
    display: inline;
    font-size: 12px;
    color: #595D61;
    float: right;
  }
  .details-txt{
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.74px;
    color: #0B5FA5 !important;
    padding: 0;
    margin: 20px 0 5px 18px;
    cursor: pointer;
  }
  /* forgot pawword modat start */
    .close-logInModal-open-forgat{
      text-align: right;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: -0.26px;
      color: #091124;
      padding: 0px;
      margin: 10px 0px 10px 0px;
      cursor: pointer;
    }
    .forgot-modal-txt{
      text-align: left;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: -0.26px;
      color: #091124;
      padding: 0px;
      margin: 10px 20px 10px 35px;
    }
    .forgot-modal-head{
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.26px;
      color: #091124;
      padding: 0px;
      margin: 55px 0px 20px 0px;
    }
  /* forgot passowrd modal end */

  /* sign up modal start */
  .signup-modal{
    width: 85%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #E5E8EA;
    border-radius: 20px;
  }
  .signup-social-box{
    border: 1px solid #C9CDD1;
    border-radius: 35px;
    cursor: pointer;
    text-align: center;
    padding: 10px 0px;
    margin: 10px;
  }
  .modal-close{
    padding: 10px 5px 0px 15px;
    background-color: transparent;
    border: 0;
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
  }
  .modal-close-btn{
    margin: 10px;
    padding: 0px;
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
  }
  .signup-social-box img{
    width: 20px;
    height: auto;
    text-align: left;
    float: left;
    margin: 2px 5px 5px 15px;
  }
  .social-icon-modal {
    background: #3B5998 0% 0% no-repeat;
    color: #ffffff;
    padding: 3px 5px 0px 5px;
    border-radius: 20px;
    margin: 3px 0px 5px 15px;
    float: left;
  }
  .signup-social-box span{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0px;
    margin: 10px 0px 10px 0px;
  }
  .middle-sign-txt{
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0px;
    margin: 10px 0px 10px 0px;
  }
  .signup-button{
    background: #FF9300 no-repeat;
    border: 1px solid #E5E8EA;
    border-radius: 27px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .footer-txt{
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0px;
    margin: 15px 0px 0px 15px;
  }
  .footer-txt span{
    color: #0B5FA5;
    cursor: pointer;
  }
  /* sign up modal end */

  /* sign up with email modal end */
  input {
    border: 1px solid #C9CDD1;
    border-radius: 0px;
    cursor: pointer;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 20px;
    width: 90%;
    font-size: 14px;
    letter-spacing: -0.26px;
    color: #3C4D5F;
    font-weight: 600;
  }
  ::placeholder {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.26px;
    color: #3C4D5F;
  }
  .card-body {
    padding: 20px 0px 0px 0px;
  }
  /* sign up with email modal end */
/* Home page css end */

/* Contact-1 Page Css Start
--------------------------------*/
.contact-1-margin-top{
  margin-top: 100px;
  margin-bottom:20px;
  padding: 35px;
}
.margin-top-bottom-150{
  margin-top: 100px;
  margin-bottom:150px;
  padding: 35px;
}
.contact-1 h3{
  margin: 30px 0px;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 0px;
}
.contact-1 p{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 0px 10px 0px 0px;
  margin: 10px 0px;
}
.contact-1 textarea{
  border: 1px solid #E5E8EA;
  border-radius: 0px;
  cursor: pointer;
  text-align: left;
  padding: 10px 15px;
  margin: 5px 0px 30px 0px;
  width: 90%;
  font-size: 14px;
  letter-spacing: -0.26px;
  color: #3C4D5F;
  font-weight: 600;
}
/* Contact-1 Page css end */

/* Payment Page Css Start
--------------------------------*/
.payment-modal-btn-padding{
  padding: 10px 80px !important;
}
.payment-head ul{
  padding: 0px;
}
.payment-head li {
  list-style: none;
}
.payment-head li a{
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 10px;
  border-bottom: solid 1px #C9CDD1;
}
.payment-head li a.active{
  border-bottom: 2px solid #FF9300;
}
.payment-head li.active a{
  font-weight: 700;
}
.tab-content {
  padding: 30px;
}
.tab-content h3{
  margin: 40px 0px;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 0px;
}
.pay_out .paypal_box{
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: #091124;
  font-style: italic;
  padding: 8px;
  border: 2px solid #091124;
  border-radius: 5px;
  display: inline-block;
}
.pay_out .pay-txt{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 10px;
  display: inline-block;
  margin: 10px 0 10px 0;
}
.pay_out .pay-email{
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 10px;
  display: inline-block;
}
.pay_out .edit-txt{
  color: #0B5FA5;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
 }
 .pay_out .pay-button{
  color: #0B5FA5;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  padding: 10px;
  margin: 0px;
  text-align: center;
  cursor: pointer;
  border: solid 1px #0B5FA5;
  border-radius: 30px;
 }
 .pay-sidebar{
  background: #FFFFFF 0% 0% no-repeat;
  box-shadow: 0px 4px 0px #EAEAEA;
  border: 1px solid #C9CDD1;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0px 130px 0px;
 }
 .pay-sidebar h4{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 20px 10px 0px 10px;
 }
 .pay-sidebar p{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 0px 10px 0px 10px;
 }
 .account_profile h6{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 5px;
  margin: 15px 0px 0px 0px;
 }
 .account_profile p{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 5px;
  margin: 0px 0px 15px 0px;
}
.border-col{
  border-bottom: 1px solid #E5E8EA;
}
.currency-select{
  background: #FFFFFF no-repeat;
  border: 1px solid #E5E8EA;
  border-radius: 2px;
  padding: 0px 15px 0px 10px;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
}
.left-txt{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 0px;
  margin: 15px 0 15px 0;
}
.help-right-head {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 10px;
  margin: 0px 0 10px 0;
}
.help_faq p{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.74px;
  color: #091124;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-align: justify;
}
  /* change-password-modal css start */
  .change-password-modal h3{
    text-align: center;
    font-size: 24px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 600;
    padding: 20px;
  }
  .change-password-modal h3{
    text-align: center;
    font-size: 24px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 600;
  }
  .change-password-modal p{
    text-align: left;
    font-size: 12px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 600;
    padding: 0px;
    margin: 0px 20px;
  }
  .change-password-modal input{
    border: 1px solid #C9CDD1;
    border-radius: 0px;
    cursor: pointer;
    text-align: left;
    padding: 2px 10px;
    margin: 5px 20px 15px 20px;
    width: 90%;
    font-size: 14px;
    letter-spacing: -0.26px;
    color: #3C4D5F;
    font-weight: 600;
  }
  .confirm-button{
    background: #0B5FA5 no-repeat;
    border: 1px solid #E5E8EA;
    border-radius: 27px;
    padding: 10px 60px;
    margin: 10px;
    text-align: center;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .cancel-button{
    background: #ffffff no-repeat;
    border: 1px solid #E5E8EA;
    border-radius: 27px;
    padding: 10px 65px;
    margin: 10px;
    text-align: center;
    color: #091124 !important;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  /* change-password-modal css end */

  /* Add payment-method-modal css start */
  .payment-method-modal h3{
    text-align: left;
    font-size: 22px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 600;
    margin: 0 20px 20px 20px;
    padding: 0;
  }
  .payment-method-modal p{
    text-align: left;
    font-size: 14px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 600;
    padding: 0px;
    margin: 0px 20px;
  }
  .payment-method-modal input{
    padding: 5px 15px;
    margin: 5px 20px 20px 20px;  
  }
  .half-50-width{
    width: 50%;
  }
  .inline-input {
    margin: 5px 20px 0px 20px;
    display: inline-block;
  }
  .country-select {
    background: #FFFFFF no-repeat;
    border: 1px solid #C9CDD1;
    border-radius: 2px;
    padding: 6px 10px 6px 5px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    width: 91%;
}
.pay-method-custom-field{
  width: 45%;
  margin:0px -5px 20px 20px !important;
  display: inline-block;
}
.pay-method-custom-field1{
  width: 45%;
  margin:0px 20px 0px 0px !important;
  display: inline-block;
}
/* Add Payment Method MODAL css end */

/* Payout confirmation MODAL css start */
.payout-confirmation-modal h3{
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.38px;
  color: #091124;
  font-weight: 800;
  margin: 20px 20px 20px 20px;
  padding: 0;
}
.pop-subhead{
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.62px;
  color: #091124;
  font-weight: 400;
  padding: 0px;
  margin: 26px 0px 25px 0px;
}
.paypal_box{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.26px;
    color: #091124;
    font-style: italic;
    padding: 8px;
    border: 2px solid #091124;
    border-radius: 5px;
    display: inline-block;
}
.pay-txt{
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.62px;
  color: #091124;
  font-weight: 600;
  padding: 0px;
  margin: 0px 20px;
  display: inline-block;
}
.pay-email {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.26px;
  color: #091124;
  padding: 10px;
  display: inline-block;
}
.edit-txt {
  color: #0B5FA5;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.26px;
  padding: 10px;
  cursor: pointer;
  margin: 0px 0px 10px 0px;
}
/* Payout confirmation MODAL css end */

/* Payment Page Css end */

/*song name page css start*/
  .audioopen {
   display: none; 
   position: absolute;
   bottom: -150px;
   right: 270px;
   width: 60%;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
   z-index: 999999;
   background: #FFFFFF no-repeat;
   border: 1px solid #C9CDD1;
   padding: 0px;
   line-height: 0px;
  }
  .artist-name {
    text-align: left;
    letter-spacing: -0.26px;
    color: #3C4D5F;
    opacity: 1;
    float: right;
    font-size: 16px;
    margin: 15px 20px 10px 0px;
  }
  .song-name {
    text-align: left;
    letter-spacing: -0.26px;
    color: #091124;
    opacity: 1;
    float: right;
    font-size: 16px;
    margin: 35px -84px 10px 0px;
  }
  audio {
    width: 87%;
    outline: none;
    border: none;
    background-color: #ffffff;
    background: #ffffff;
    border-radius: 0px;
  }
  .play-icon-img{
    position: absolute;
    top: -30px;
    left: 35%;
    font-size: 80px;
    cursor: pointer; 
  }
  .song-name-img img{
    width: 370px;
    height: 350px;
  }
  .share_pg_heading{
    font-weight: bold;
  }
  .margin-top{
    margin: 60px -15px 0px -15px;
  }
  .Song_detail_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    text-align: center;
    border-radius: 20px;
  }

  .Song_detail_card_text{
    color: #1bb1dc;
    margin: 15px;
    text-align: center;

  }

  .Song_detail_card_text:hover {
    color: #FF9300;
    
  }
  .Song_detail_card_body{
    padding: 15px;
  }
  .sg_pg_sp{
    margin-bottom: 12px;
  }
  .Song_detail_card_btn{
  background: #FF9300;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #FF9300;
  padding: 10px 64px;
  }
  .custom-card-padding{
    padding: 0px 0px 0px 30px;
  }
  /* Purchase Song Shares MODAL start */
  .purchase-song-shares-modal .head-txt{
    text-align: left; 
    font-size: 12px;
    letter-spacing: 0.62px;
    color: #091124;
    font-weight: 800;
    padding: 12px 0px 0px 0px;
    margin: 0px;
  }
  .purchase-song-shares-modal .left-head-txt{
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.62px;
    color: #091124;
    font-weight: 600;
    padding: 8px 0px;
    margin: 5px 0px 0px 0px;
  }
  .margin-left{
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.62px;
    color: #091124;
    font-weight: 700;
    padding: 0px;
    margin: 5px 0px 10px -35px;
  }
  .top-bottom-line{
    border-top: 1px solid #D3D3D3;
    padding: 5px 0px;
    margin: 5px 40px 10px 0px;
  }
  .separate-modals {
    position: relative;
    padding:20px;   
    display: -ms-flexbox;
    border-radius: 20px;
    width: 580px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* width: 115%; */
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    /* border-radius: .3rem; */
    outline: 0;
  }
  .yellow-button{
    background: #FF9300 no-repeat;
    width: 95%;
    border: 1px solid #D3D3D3;
    border-radius: 27px;
    padding: 10px 60px;
    margin: 10px;
    text-align: center;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .yellow-button a{
    color: #ffffff;
  }
  
  /* Purchase Song Shares MODAL end */
/*song name css end*/

/*myshare page css start*/
.myshare-top{
  margin: 50px 0px 0px 0px;
}
.overlay
{
  position: relative;
  width: 50%;
  max-width: 300px;
  margin-bottom: 20px;
}
.play-img {
  width: 240px; 
  height: 220px;
  margin-bottom: 30px;
}
.img-circle {
  border-radius: 50%;
  width: 50px;
}
.user_profile{
  width: 100%;
}
.user_profile_img{
  width: 40%;
}
.user_profile_name{
  width: 65%; 
  margin-left: 80px;
  margin-top: -40px;
}
.paregrap_text{
  font-size: 12px;
}
.paragra_text{
  margin-bottom: 5px;
}
.page_heading_link{
  text-decoration: none;
  border-bottom: 2px solid #FF9300;
  font-weight: bold;
}
.share_btn{
  border-radius: 25px;
  border: 1px solid black;
  padding:12px 35px 12px 45px;
  margin-top: 20px;
}
.share_icons{
  margin: 30px;
  width: 100%;
}
.main-contain{
  margin-top:50px;
  margin-bottom: 30px;
  
}
/*myshare page css end*/

/* Home Release page css start
--------------------------------*/
.top-margin{
  margin: 50px 0px 100px 0px;
}
.page_heading_link{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.26px;
  color: #091124;
  padding-bottom: 5px;
}
.share_pg_heading{
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -0.26px;
  color: #091124;
  margin: 20px 0px;
  padding-bottom: 10px;
}
.custom-padding{
  padding: 10px 0px 10px 0px;
}
.home_release_btn {
  color:  #1bb1dc;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #1bb1dc;
  padding: 8px 22px 10px 25px;
  background: transparent;
}
.home_release_cancel_btn {
  margin: 70px 0px 0px 0px;
  font-size: 12px;
  letter-spacing: -0.26px;
  color: #D51E41; 
  text-align: center;
  font-weight: 400;
  padding: 8px 35px 10px 35px;
  background: transparent;
  border: 2px solid #D51E41;
  border-radius: 27px;
}

/* investors-modal css start */
  .investors-modal h4{
    text-align: left;
    font-size: 22px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 800;
    padding: 0px;
    margin: 10px 0px 20px 0px;
  }
  .modal-table{
    width: 100%;
  }
  .modal-table th{
    text-align: left;
    font-size: 16px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 700;
    line-height: 50px;
    width: 40%;
  }
  .investors-modal input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 11px 0px;
  }
  .investors-modal h5 {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.26px;
    color: #091124;
    margin: 5px 0px;
  }
  .investors-modal h6 {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.26px;
    color: #091124;
    margin: 0 0 10px 0;
}
  .cancel-button-modal{
    border: 2px solid #D51E41;
    border-radius: 27px;
    background: #ffffff no-repeat;
    padding: 10px 35px;
    margin: 10px 135px;
    text-align: center;
    color:#D51E41 !important;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  /* investors-modal css end */

  /* edit Song MODAL css Start */
  .back-button {
    font-size: 20px;
    font-weight: 800;
    color: #5D5D5D;
    margin: 0px;
    padding: 0px;
  }
  .edit-song-modal h3{
    text-align: left;
    font-size: 20px;
    letter-spacing: -0.38px;
    color: #091124;
    font-weight: 900;
    margin: 5px 0px 30px 0px;
    padding: 0;
  }
  .close-button{
    border: 2px solid #0B5FA5;
    border-radius: 27px;
    background: #ffffff no-repeat;
    padding: 10px 35px;
    margin: 20px 0px;
    text-align: center;
    color: #0B5FA5 !important;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
  }
  .txt-song-detail{
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.62px;
    color: #091124;
    font-weight: 600;
    padding: 0px;
    margin: 30px 0px 10px 0px;
  }
  progress {
    margin: 8px 0px !important;
  }
  .edit-song-modal input, select{
    border: 1px solid #E5E8EA;
    border-radius: 0px;
    cursor: pointer;
    text-align: right;
    padding: 5px 10px;
    margin: 0px 0px;
    width: 100%;
    font-size: 12px;
    letter-spacing: -0.26px;
    color: #091124;
    font-weight: 600;
  }
  .dark-txt{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.62px;
    color: #091124;
    font-weight: 800;
    padding: 5px 0px;
    margin: 0px;
  }
  textarea{
    text-align: left;
    font-size: 14px;
    letter-spacing: -0.26px;
    color: #3C4D5F;
    font-weight: 300;
    padding: 16px;
    border: 1px solid #E5E8EA;
    border-radius: 3px;
  }
  .imgUp{
      background: #FFFFFF;
      border: 1px solid #E5E8EA;
      margin: 10px 0px;
      padding: 0px;
    }
  .imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .btn-primary
  {
    display:block;
    border-radius:0px;
    box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top:-5px;
    margin: 0px;
    padding: 0px;
  }
  .uploadFile {
    border: none !important;
    cursor: pointer;
    padding: 0px !important; 
    margin:0px !important;
    width: 0% !important;
    font-size: 14px !important;
  }
  /* edit Song MODAL css end */
/* Home Release page css end*/

/* Release Intro page css start */
  .release-intro{
    margin-top: 250px !important;
  }
  .release-intro h3{
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.79px;
    color: #ffffff;
    opacity: 1;
  }
  .release-intro p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.74px;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0 10px 0;
    text-align: center;
  }
  .intro-second-row h3{
    margin-top:100px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.79px;
    color: #091124;
    opacity: 1;
  }
  .intro-second-row p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.74px;
    color: #091124;
    padding: 10px;
    margin: 10px 0 100px 0;
    text-align: center;
  }
  .release-intro button{
    font-family:"Avenir Next LT W05 Regular";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 90px;
    border-radius: 30px;
    transition: 0.5s;
    background: transparent;
    color: #fff;
    border: 1px solid #ffffff;
  }
/* Release Intro page css end */


/* song-detail page css start */
  .song-detail h3{
    margin: 0px 0px 20px 0px;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0px;
  }
  .song-detail p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0px 10px 0px 0px;
    margin: 10px 0px;
  }
  .song-detail h4{
    margin: 30px 0px 20px 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.26px;
    color: #091124;
    padding: 0px;
  }
  .song-detail-top-margin{
    margin-top: 130px;
    margin-bottom:150px;
  }
  .song-detail-sidebar{
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 4px 0px #EAEAEA;
    border: 1px solid #C9CDD1;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px 940px 30px;
  }
  .song-detail-sidebar2{
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 4px 0px #EAEAEA;
    border: 1px solid #C9CDD1;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px 200px 30px;
  }
  .song-detail-sidebar3{
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 4px 0px #EAEAEA;
    border: 1px solid #C9CDD1;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px 245px 30px;
  }
  .song-detail-sidebar4{
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 4px 0px #EAEAEA;
    border: 1px solid #C9CDD1;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px 40px 30px;
  }
  .song-detail-sidebar h4{
    padding: 20px 10px 0px 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.26px;
    color: #091124;
  }
  .sidebar-styling-song-details h4 {
    padding: 20px 10px 0px 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.26px;
    color: #091124;
  }
  .sidebar-styling-song-details p {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.26px;
    color: #091124;
    margin: 10px 0px;
  }
  .song-detail-sidebar p{
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.26px;
    color: #091124;
    margin: 10px 0px;
  }
  .song-detail-box{
    padding: 15px 0px;
    border-top: 1px solid #E5E8EA;
    border-radius: 2px;
    margin: 0px 60px 0px 0px;
  }
  .song-detail-box input{
    border: 1px solid #E5E8EA;
    border-radius: 2px;
    width: 100%;
    padding: 5px 0px;
    margin: 5px 12px;
  }
  .song-detail input{
    border: 1px solid #E5E8EA;
    border-radius: 0px;
    cursor: pointer;
    text-align: right;
    padding: 5px 10px;
    margin: 0px 0px;
    width: 100%;
    font-size: 12px;
    letter-spacing: -0.26px;
    color: #091124;
    font-weight: 600;
  }
/* song-detail page css end */

/* Contact page css Start
--------------------------------*/
.margin-top-240{
  margin-top: 240px;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.contact-box h3{
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -1.26px;
  color: #091124;
  padding: 10px;
  margin: 0px 0 10px 0;
}
.contact-box p{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.74px;
  color: #091124;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-align: center;
}
.white-btn{
  background: #FFFFFF no-repeat;
  border: 2px solid #C9CDD1;
  border-radius: 27px;
  padding: 10px 0px;
  width: 48%;
  margin: 10px;
  text-align: center;
  color: #3C4D5F;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.white-btn a{
  color: #3C4D5F;
}
.light-blue-btn a{
  color: #ffffff;
}
.light-blue-btn{
  background:#0B5FA5 no-repeat;
  border: 1px solid #E5E8EA;
  border-radius: 27px;
  padding: 10px 0px;
  width: 48%;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
/* Contact page css end*/

/* header icon click menu strat */
  .close-menu-icon{
   cursor: pointer;
   float: right; 
  }
  .dropdown-img {
    cursor: pointer;
    margin: 5px 0px -5px 0px;
    width: 40px;
    height: auto;
    border-radius: 25px;
    border: 5px solid #FF9300;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    right: 240px;
    min-width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999999;
    background: #FFFFFF no-repeat;
    border: 1px solid #C9CDD1;
    border-radius: 20px;
    padding: 20px
  }
  .dropdown-content h5 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.74px;
    color: #000000;
    margin: 0px 0px 0px 0px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.26px;
    color: #000000;
    margin: 0px 0px 0px 0px;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }
/* header icon click menu end */

/* common css start */
  .margin-left-30{
    margin-left: 30px
  }
  .modal-580{
    width: 580px;
  }
/* common css end */

/* Media css of all pages start */
  /* Mobile */
    @media (max-width: 767px) {
      .dropdown-img{
        margin: 5px 0px -5px 20px;
      }
      /* home page css start */
      .detail-boxes4{
        margin: 10px 10px 10px 10px;
      }
      .myshare-margin {
        margin-bottom: 20px;
      }
      /* home end */
      /* All modals css start */
      .signup-modal{
        width: 100%;
      }
      /* All modals css end */
      /* menu modal start */
      .dropdown-content {
        z-index: 999999;
        right: 20px;
      }
      /* menu modal end */

      /* About Page css start */
      .boxes-about {
        margin: 60px 20px;
      }
      .margin-left-30{
        margin-left: 0px
      }
      .margin-media-query{
        margin: 10px 0px;
      }
      #hero .intro-info p{
        font-size: 16px;
      }
      .home-icon-1{
        margin: 10px 0px;
      }
      .home-icon-2{
        margin: 10px 0px;
      }
      .home-icon-3{
        margin: 10px 0px;
      }
      .two-section-text h2 {
        padding: 150px 10px 10px 10px;
      }
      .two-section-text p{
        padding: 10px 10px 10px 10px;
      }
      .two-section-text a{
        margin: 10px 10px 10px 10px;
      }
      /* About Page css end */

      /* Contact Page css start */
      .margin-top-240{
        margin-top: 50px;
      }
      .white-btn{
        width: 100%;
        margin: 10px 0px;
      }
      .light-blue-btn{
        width: 100%;
      }
      .center {
        width: 90%;
      }
      /* Contact Page css end */

      /* home release page css start */
      .modal-580{
        width: 100%;
      }
      .home_release_cancel_btn {
        width: 50%;
        margin: 30px 0px 30px 0px;
      }
      .cancel-button-modal{
        margin: 10px 65px;
      }

      /* song name start */
      .custom-padding {
        padding: 10px 0px 30px 24px;
      }
      .Song_detail_card{
        width: 70%;
      }
      .custom-card-padding {
        padding: 0px 0px 0px 20px;
      }
      .Song_detail_card_btn{
        padding: 10px 15px;
      }
      .song-name-img img {
        width: 100%;
        height: auto;
      }
      .play-img {
        width: 210px;
      }
      .audioopen {
        bottom: -470px;
        right: 0px;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        z-index: 999999;
        background: #FFFFFF no-repeat;
        border: 1px solid #C9CDD1;
        padding: 0px;
        line-height: 0px;
      }
      audio {
        width: 70%;
      }
      /* song name end */
      .payment-modal-btn-padding{
        padding: 10px 48px !important;
      }
      /* song detsils page */
      .song-detail-sidebar{
        margin: 20px 0px 40px 30px;
      }
      .song-detail-top-margin{
        margin-top: 130px;
        margin-bottom:150px;
        padding: 50px;
      }
      .song-detail-sidebar2,.song-detail-sidebar3,.song-detail-sidebar4{
        margin: 10px 0px 10px 0px;
      }
      /* home release page css end */
    }
  /* Ipad */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  { 
      /* menu modal start */
      .dropdown-img {
        cursor: pointer;
        margin: 5px 0px -5px 20px;
      }
      /* menu modal end  */
      .boxes-about {
        margin: 60px 30px;
      }
      .margin-left-30{
        margin-left: 0px
      }
      .margin-media-query{
        margin: 10px 0px;
      }
      #hero .intro-info p{
        font-size: 20px;
      }
      .home-icon-1{
        margin: 0px 0px 0px -10px;
      }
      .home-icon-2{
        margin: 0px 0px 0px -25px;
      }
      .home-icon-3{
        margin: 0px 0px 0px -25px;
      }
      .two-section-text h2 {
        padding: 150px 10px 10px 30px;
      }
      .two-section-text p{
        padding: 10px 10px 10px 30px;
      }
      .two-section-text a{
        margin: 10px 10px 10px 10px;
      }
      /* About Page css end */

      /* Contact Page css start */
      .margin-top-240{
        margin-top: 150px;
      }
      .white-btn{
        width: 47%;
      }
      .light-blue-btn{
        width: 47%;
      }
      /* Contact Page css end */
      
      /* home release page css start */
      .play-img {
        width: 160px;
      }
      textarea {
        width: 100%;
      }
      .home_release_cancel_btn {
        width: 200%;
        margin: 70px 0px 30px 0px;
      }
      /* home release page css end */

      /* song name start */
      .custom-padding {
        padding: 10px 0px 10px 70px;
      }
      .custom-card-padding {
        padding: 0px 0px 0px 0px;
      }
      .Song_detail_card_btn{
        padding: 10px 15px;
      }
      .song-name-img img {
        width: 100%;
        height: auto;
      }
      .play-img {
        width: 210px;
      }
      .audioopen {
        bottom: 165px;
        right: 0px;
        width: 100%;
      }
      audio {
        width: 85%;
      }
      /* song name end */
    }
  /* Ipad PRO*/
    @media only screen 
      and (min-width: 1024px) 
      and (max-height: 1366px) 
      and (-webkit-min-device-pixel-ratio: 1.5) {
        .boxes-about {
          margin: 60px 40px;
        }
        .margin-left-30{
          margin-left: 0px
        }
        .margin-media-query{
          margin: 10px 0px 10px 30px;
        }
        .home-icon-3{
          margin: 0px 0px 0px -10px;
        }
        .two-section-text h2 {
          padding: 150px 120px 10px 120px;
        }
        .two-section-text p{
          padding: 10px 120px 10px 120px;
        }
        .two-section-text a{
          margin: 10px 120px 10px 120px;
        }
        /* About Page css end */

        /* Contact Page css start */
        .margin-top-240{
          margin-top: 200px;
        }
        .white-btn{
          width: 47%;
        }
        .light-blue-btn{
          width: 47%;
        }
        /* Contact Page css end */

        /* song name start */
        .song-name-img img {
          width: 100%;
          height: auto;
        }
        .play-img {
          width: 210px;
        }
        .audioopen {
          bottom: 400px;
          right: 0px;
          width: 100%;
        }
        /* song name end */
    }

    

/* Media css of all pages end */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 10px 0;
  font-size: 14px;
  background: #091124;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #091124;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family:"Avenir Next LT W05 Regular";
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family:"Avenir Next LT W05 Regular";
  color: #535074;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1bb1dc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0a98c0;
  color: #fff;
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}

#footer .footer-top h4 {
  margin: 20px 0px 0px 0px;
  font-size: 10px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  letter-spacing: 1.92px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ffffff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #1bb1dc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #1bb1dc;
  border: 1px solid #1bb1dc;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0a98c0;
}

#footer .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#footer .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#footer .php-email-form .error-message br + br {
  margin-top: 25px;
}

#footer .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#footer .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#footer .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#footer .php-email-form input, #footer .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #dce1ec;
  font-size: 14px;
}

#footer .php-email-form input::focus, #footer .php-email-form textarea::focus {
  background-color: #1bb1dc;
}

#footer .php-email-form input {
  padding: 20px 15px;
}

#footer .php-email-form textarea {
  padding: 12px 15px;
}

#footer .php-email-form button[type="submit"] {
  background: #1bb1dc;
  border: 0;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#footer .php-email-form button[type="submit"]:hover {
  background: #0a98c0;
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #535074;
  font-size: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}
